<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quantum</title>
</head>
<body>
    <h1>Welcome to Quantum!</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit dolore, officia impedit et neque amet nisi vel nihil omnis obcaecati iure autem dicta placeat voluptatem quod aliquid nemo laboriosam beatae!</p>
</body>
</html>